<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project basedir="." default="server" name="Tomcat4.1Project02Build_server">
    <property environment="env"/>

    <!-- サーバ設定 -->
    <property name="server" value="192.168.1.101"/>
    <property name="ftp_userid" value="webapp"/>
    <property name="ftp_password" value="password"/>

    <!-- SVN設定 -->
    <property name="svn_url" value="file://d:/Windows/svn/SandBox/TryJenkins/Tomcat4.1Project02Build/テスト環境"/>
    <property name="svn_work" value="build/テスト環境"/>

    <!-- ================================================== -->
    <!-- SvnAnt -->
    <!-- ================================================== -->

    <!-- path to the svnant libraries. Usually they will be located in ANT_HOME/lib -->
    <path id="svnant.classpath">
        <fileset dir="./svnant-1.2.1/lib">
            <include name="**/*.jar"/>
        </fileset>
    </path>

    <!-- load the svn task -->
    <typedef resource="org/tigris/subversion/svnant/svnantlib.xml" classpathref="svnant.classpath" />

    <!-- ================================================== -->
    <!-- ターゲット -->
    <!-- ================================================== -->

    <target name="init">
        <echo message="basedir: ${basedir}"/>
        <mkdir dir="${svn_work}"/>
    </target>

    <target name="clean">
        <delete dir="${svn_work}"/>
    </target>
    <target depends="clean" name="cleanall"/>

    <!-- サーバ側環境依存ファイル取得 -->
    <target name="server" description="サーバ側で、手動更新される可能性のある環境依存ファイルを取得します。" depends="init,svn-checkout,server-get,svn-commit"/>
    <target name="svn-checkout">
        <svn>
            <checkout url="${svn_url}" revision="HEAD" destPath="${svn_work}"/>
        </svn>
    </target>
    <target name="svn-commit">
        <svn>
            <commit message="build.xmlによるコミット" dir="${svn_work}"/>
        </svn>
    </target>
    <target name="server-get">
        <echo message="サーバ： ${server}"/>
        <ftp action="get" server="${server}" userid="${ftp_userid}" password="${ftp_password}" remotedir="webapps/Tomcat4.1Project02" verbose="true">
            <fileset dir="${svn_work}">
                <include name="**/*.properties"/>
            </fileset>
        </ftp>
    </target>
</project>
